/* common button styles */
.btn {
  display: inline-flex;
  align-items: center;
  border: none;
  border-radius: 4px;
  box-shadow: var(--outer-shadow);
  font-weight: 600;
  cursor: pointer;
  transform: scale(1);

  transition: transform var(--main-animation), box-shadow var(--main-animation),
    color var(--main-animation), background-color var(--main-animation),
    opacity var(--main-animation);
}

.btn::before {
  position: absolute;
  top: -8%;
  left: -8%;
  content: '';
  display: block;
  width: 116%;
  height: 116%;
  border-radius: 4px;
  background-color: transparent;
}

.btn:disabled {
  opacity: 0.4;
}

.btn:active {
  transform: scale(0.85);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.445);
}

/* form button specifically */
.formBtn {
  composes: btn;
  position: absolute;
  bottom: 20px;
  padding: 8px 16px;
  font-size: 18px;
  color: var(--main-txt-color);
  background-color: var(--primary-btn);
}

.formBtn:hover:enabled {
  background-color: rgba(50, 133, 136, 0.575);
  color: var(--white-color);
}

.formBtn:active:enabled {
  background-color: rgba(14, 32, 194, 0.411);
  color: var(--white-color);
}

.formBtnIcon {
  width: 18px;
  height: 18px;
  margin-left: 4px;
  fill: currentColor;
}

/* contacts item button specifically */
.deleteBtn {
  composes: btn;
  font-size: 10px;
  background-color: var(--red-tr-color);
  color: var(--white-color);
  padding: 4px 10px;
  letter-spacing: 1px;

  opacity: 0;
  transform: translateY(-25%);
  transition: transform 150ms ease-out 30ms, opacity 170ms ease-out,
    background-color 150ms ease-out 30ms;
}

.deleteBtn:hover {
  background-color: var(--red-accent-color);
}

.deleteBtn:active {
  background-color: var(--blue-accent-color);
}

.emergedBtn {
  composes: deleteBtn;
  opacity: 1;
  transform: translateY(0%);
}

.deleteIcon {
  width: 12px;
  height: 12px;
  margin-left: 2px;
  fill: currentColor;
}

/* deleted items btn */
.binItemBtn {
  composes: btn;
  font-weight: 400;
  background-color: var(--accent-color);
  color: var(--white-color);
  padding: 2px 8px;
  justify-content: space-between;
}

.binItemBtn:not(:last-child) {
  margin-bottom: 6px;
}

.binIcon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.deleteForever {
  composes: binItemBtn;
  background-color: var(--red-tr-color);
}

.binItemBtn:hover {
  background-color: var(--red-accent-color);
}

.binItemBtn:active {
  background-color: var(--blue-accent-color);
}

/* authentification btn */
.authBtn {
  display: inline-flex;
  align-items: center;
  border: none;
  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  padding: 8px 14px;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.6;
  cursor: pointer;
  box-shadow: var(--inner-shadow);

  transition: opacity var(--main-animation), box-shadow var(--main-animation);
}

.authBtn:hover {
  opacity: 1;
  box-shadow: var(--inner-accent-shadow);
}
