.item {
  position: relative;
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: flex-end;

  padding: 6px 20px;
  border-radius: 4px;
  box-shadow: var(--outer-shadow);
  background-color: var(--white-color);
  cursor: pointer;

  transition: background-color var(--main-animation),
    color var(--main-animation);
}

.itemBlocked {
  composes: item;
  background-color: rgba(253, 255, 109, 0.144);
  color: #3b3b3b70;
}

.itemInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.item:not(:last-child) {
  margin-bottom: 16px;
}

.itemIcon {
  width: 18px;
  height: 18px;
  margin-right: 6px;
  fill: currentColor;
}

.itemName {
  font-size: 20px;
  font-weight: 600;
}

.itemNumber {
  font-size: 18px;
}

.itemControls {
  height: 100%;
  padding-bottom: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.checkLableNormal {
  display: flex;
  align-items: baseline;
  font-size: 14px;
  font-weight: 600;
  opacity: 0.6;
  transition: opacity var(--main-animation), color var(--main-animation);
}

.checkLabelBlocked {
  composes: checkLableNormal;
  opacity: 1;
}

.checkLableNormal:hover {
  opacity: 1;
}

.checkLabelBlocked:hover {
  color: var(--accent-color);
}

.blockContactCheckbox {
  width: 0;
  height: 0;
}

.checkIcon {
  width: 12px;
  height: 12px;
  margin-left: 4px;
  fill: currentColor;
}
