.item {
  position: relative;
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: flex-end;

  padding: 6px 20px;
  border-radius: 4px;
  box-shadow: var(--outer-shadow);
  background-color: var(--white-color);
  cursor: pointer;
}

.itemBlocked {
  composes: item;
  background-color: var(--darker-bgr-color);
  color: #3b3b3b70;
}

.itemInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.item:not(:last-child) {
  margin-bottom: 16px;
}

.itemName {
  font-size: 20px;
  font-weight: 600;
}

.iconName {
  background-image: url(../../images/face.svg);
  margin-right: 4px;
}

.iconNumber {
  background-image: url(../../images/call.svg);
  margin-right: 4px;
}

.itemNumber {
  font-size: 18px;
}

.itemControls {
  height: 100%;
  padding-bottom: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.chbLableNormal {
  display: flex;
  align-items: baseline;
  font-size: 14px;
  font-weight: 600;
  opacity: 0.6;
  transition: opacity 150ms ease-out, color 150ms ease-out;
}

.chbLabelBlocked {
  composes: chbLableNormal;
  opacity: 1;
}

.chbLableNormal:hover {
  opacity: 1;
}

.chbLabelBlocked:hover {
  color: var(--accent-color);
}

.blockContactCheckbox {
  width: 0;
  height: 0;
}

.chbIcon {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 4px;
}

.chbIconNormal {
  composes: chbIcon;
  background-image: url(../../images/cell.svg);
}

.chbIconBlocked {
  composes: chbIcon;
  background-image: url(../../images/no_cell.svg);
}
