.wrapper {
  position: relative;
}

.filter {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}

.filterInput {
  width: 100%;
  padding: 6px 32px;
  border: none;
  font-weight: 600;
  line-height: 1.3;
  border-radius: 4px;
  background-color: var(--darker-bgr-color);
  box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.349);

  transition: background-color var(--main-animation),
    box-shadow var(--main-animation);
}

.filterInput:focus {
  outline: none;
  background-color: var(--primary-btn);
  box-shadow: inset 4px 4px 12px rgba(8, 0, 54, 0.548),
    inset -1px -1px 4px rgba(8, 0, 54, 0.185);
}

.filterIcon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  fill: var(--main-txt-color);
  opacity: 0.6;
  margin-left: 2px;
}

.filterBtn {
  position: absolute;
  height: 100%;
  width: 32px;
  border: none;
  background-color: var(--accent-color);
  color: var(--white-color);
  font-weight: 600;
  font-size: 16px;
  border-radius: 4px;
  transition: transform 150ms ease-out 300ms;
}

.filterBtnEmerged {
  composes: filterBtn;
  transform: translateX(-100%);
}

.renderFilter {
  position: absolute;
  top: -26px;
  right: 0;
  transform: translateY(-50%);
}

.renderLabel {
  font-weight: 700;
  font-size: 18px;
  color: rgba(63, 150, 153, 0.493);
}

.renderLabel:not(:last-child) {
  margin-right: 12px;
}

.radioInput {
  width: 0;
  height: 0;
}

.renderList {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-left: 4px;
  border: 2px solid var(--accent-color);
  border-radius: 50%;
}

.renderLabelChecked {
  composes: renderLabel;
  color: var(--accent-color);
}

.renderLabelChecked .renderList {
  background-color: var(--accent-color);
}

@media screen and (min-width: 1000px) {
  .filter {
    margin-bottom: 26px;
  }

  .renderFilter {
    top: -30px;
  }

  .renderLabel {
    font-size: 20px;
  }
}
