.section {
  padding: 0;
  position: relative;
  min-height: 100vh;
}

.newContact {
  composes: section;
}

.deleted {
  composes: section;
  width: 420px;
}

.contacts {
  composes: section;
  width: 100%;
  max-width: 440px;
}

.title {
  display: flex;
  align-items: flex-end;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 600;
}

.titleIcon {
  width: 18px;
  height: 18px;
  margin-right: 6px;
  fill: currentColor;
}

@media screen and (min-width: 1000px) {
  .section {
    padding: 0 10px;
  }

  .contacts {
    width: 500px;
  }

  .title {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .titleIcon {
    width: 24px;
    height: 24px;
  }
}
