:root {
  --primary-bgr-color: rgba(95, 158, 160, 0.075);
  --darker-bgr-color: rgba(63, 150, 153, 0.185);
  --accent-color: rgba(1, 107, 110, 0.774);
  --main-txt-color: #3b3b3b;
  --white-color: #fff;

  --primary-btn: rgba(95, 158, 160, 0.329);

  --outer-shadow: 2px 2px 6px rgba(0, 0, 0, 0.322);

  --main-animation: 120ms ease-out;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: overlay;
  background-color: var(--primary-bgr-color);
  color: var(--main-txt-color);
  line-height: 1;
  cursor: default;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
p {
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--darker-bgr-color);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
}
