.list {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.item {
  position: relative;
}

.item:not(:last-child) {
  margin-bottom: 30px;
}

.subList {
  composes: list;
  position: relative;
  padding: 30px 0 0;
  align-items: flex-end;
}

.subList::before {
  position: absolute;
  top: 0px;
  right: 0;
  content: '';
  display: block;
  height: 3px;
  width: 100%;
  background-color: var(--accent-color);
  opacity: 0.6;
  border-radius: 2px;
  box-shadow: inset -2px -1px 1px rgba(0, 0, 0, 0.479),
    2px 2px 4px rgba(0, 0, 0, 0.322), 1px 1px 2px rgba(0, 0, 0, 0.445);
}

.subItem {
  width: 85%;
}

.subItem:not(:last-child) {
  margin-bottom: 16px;
}

.accentLetter {
  position: absolute;
  top: 30px;
  left: 0px;
  font-size: 32px;
  font-weight: 700;
  color: var(--accent-color);
  opacity: 0.6;
}
