.userMenu {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
}

.text {
  font-size: 20px;
  font-weight: 600;
  color: var(--accent-color);
  opacity: 0.8;
}

.icon {
  width: 30px;
  height: 30px;
  fill: var(--accent-color);
  margin-left: 6px;
  margin-right: 16px;
  opacity: 0.8;
}
